<!DOCTYPE html>
<html>

<!-- Used to load CSS stylesheet -->
<head>
    <body style="background-color:#a4a832">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/website_stylesheet.css') }}">
</head>

<!-- Div used for the page banner (contains title and page action banner) -->
<div name="page_banner" class="page_banner">
<center>
<h1>Update Password</h1>
<p class="page_banner_message">{{ jinja_variables['BANNER_MESSAGE'] }}</p>
</center>
</div>

<form id="update_password_form" action="/update_password/" method="POST">
     <!-- Hidden value, whose value is used to identify the action .  method="POST"-->
    <input type="hidden" name="post_action" value="update_password">
    <!-- Stores session ID, used to identify the user's session. -->
    <input type="hidden"  name="session_id" value="{{ jinja_variables['SessionID'] }}">

    <!-- Div containing username panel -->
    <div name="new_password_field" class="new_password_panel update_password_field_panel content_panel">
        <label for="text">New Password</label><br>
        <input type="text" style="background-color: {{ jinja_variables['USERNAME_TB_BACKCOLOR'] }} " id="username_textbox" name="Password">
    </div>
    <!-- Div containing username information -->
    <div name="new_password_descriptor" class="username_descriptor_panel update_password_field_descriptor_panel content_panel">
        <label for="text" class="field_descriptor">{{ jinja_variables['USERNAME_DESCRIPTOR'] }}</label>
    </div>
    <!-- Div containing password panel -->
    <div name="re_entered_password_field" class="re_entered_password_panel update_password_field_panel content_panel">
        <label for="text">Re-enter Password</label><br>
        <input type="password" style="background-color: {{ jinja_variables['PASSWORD_TB_BACKCOLOR'] }} " id="password_textbox" name="Repeated_Password">
    </div>
    <!-- Div containing password information -->
    <div name="re_entered_password_description" class="password_descriptor_panel update_password_field_descriptor_panel content_panel">
        <label for="text" class="field_descriptor">{{ jinja_variables['PASSWORD_DESCRIPTOR'] }}</label>
    </div>
</form>

<form id="cancel_form" action="/user_homepage" method="POST">
     <!-- Hidden value, whose value is used to identify the action -->
    <input type="hidden" name="post_action" value="reload_page">
    <!-- Stores session ID, used to identify the user's session. -->
    <input type="hidden"  name="session_id" value="{{ jinja_variables['SessionID'] }}">
</form>

<center>
    <br><br><br><br><br><br><br><br><br><br>
    <!-- Link to password creation tip page -->
    <a href="https://support.microsoft.com/en-us/windows/create-and-use-strong-passwords-c5cebb49-8c53-4f5e-2bc4-fe357ca048eb"
       target="_blank">Password Creation Tips/Guidelines</a>
    <br><br>
    <!-- Link to 10,000 passwords list -->
    <a href="https://github.com/danielmiessler/SecLists/blob/master/Passwords/Common-Credentials/10-million-password-list-top-10000.txt"
       target="_blank">Is your password among the 10,000 most common passwords?</a>
</center>

<!-- Div containing buttons -->
<div name="action_panel" class="registration_action_panel">

    <!––Button to submit user information––>
    <button class="styled_button" id="register_button" form="update_password_form">
        Update Password
    </button>

    <button class="styled_button" id="registration_cancel_button" form="cancel_form">
        Cancel
    </button>

</div>

</html>